@page
@model HappyPet.App.Frontend.Pages.Administrador.Visitas.Crear.CrearVisitaModel
@{
}
<style>
    .main-title{
        text-align: center;
        color: whitesmoke;
        background-color: black;
        border-radius: 15px;
        padding: 20px;
    }


    .section-form{
        display: flex;
        justify-content: center;
        margin:1rem ;
        padding: 1rem;
    }

    
    .form-form{
        width: 35%;
        background-color: aliceblue;
        border-radius: 1rem;
        padding: 1.5rem;

    }

    .boton-form{
        display: flex !important;
        justify-content: center !important;
    }

    .container-buttons{   
        width: auto;
        display: flex;
        justify-content:space-evenly;
        background-color: aliceblue !important;
        padding: 2rem;
    }

    .container-buttons a:hover{
        background-color: black !important;
        color: gold;
    }
    .container-buttons a:active{
        background-color: black !important;
    }

    .boton-form button:hover{
        background-color: black !important;
        color: gold;
    }

    .boton-form button:active{
        background-color: black !important;
    }


</style>

<main>

    <h1 class="main-title">Crear Visita<br></h1>
    <section class="section-form">
        <form class="form-form" method="post">
            <input type="hidden" asp-for="visita.Id" />

            <div class="form-group">
                <strong><label asp-for="visita.FechaDeVisita"></label></strong>
                <input asp-for="visita.FechaDeVisita" class="form-control">
                <span class="text-danger" asp-validation-for="visita.FechaDeVisita"></span>
            </div>


            @* <div class="form-group">
                <strong><label asp-for="visita.HoraDeVisita"></label></strong>
                <input asp-for="visita.HoraDeVisita" class="form-control">
                <span class="text-danger" asp-validation-for="visita.HoraDeVisita"></span>
            </div> *@


            <div class="form-group">
                <strong><label asp-for="visita.Veterinario.Id">Veterinario</label></strong>
                <select class="form-control" asp-for="VeterinarioSeleccionado"> 
                  <option label="Seleccionar" value="-1"></option>
                  @foreach (var item in Model.Veterinarios)
                  {
                    <option label="ID: @item.Id &nbsp;&nbsp; @item.Nombres @item.Apellidos" value="@item.Id"></option>   
                  }
                </select>
                <span class="text-danger" asp-validation-for="visita.Veterinario.Id"></span>
            </div>



            <div class="form-group">
                <strong><label asp-for="visita.Mascota.Id">Mascota</label></strong>
                <select class="form-control" asp-for="MascotaSeleccionada"> 
                  <option label="Seleccionar" value="-1"></option>
                  @foreach (var item in Model.Mascotas)
                  {
                    <option label="ID: @item.Id &nbsp;&nbsp; @item.Nombre" value="@item.Id"></option>   
                  }
                </select>
                <span class="text-danger" asp-validation-for="visita.Mascota.Id"></span>
            </div>

            <div class="boton-form">
                <button type="submit" class="btn btn-primary">Guardar</button><br>
             </div> 
            
        </form>
    </section>


    <aside class="container-buttons">
            <a class="btn table-btn" asp-page="../visita"><i class="fas fa-undo fa-lg"></i><br><b>Return</b></a>
            <a class="btn table-btn" asp-page="../Detalles/Detalles" asp-route-idvisita="@Model.visita.Id"><i class="fas fa-eye fa-lg"></i><br><b>Ver Visita</b></a>
    </aside>
</main>
